<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="data source=.; database = AuthenticationDB; integrated security = true;"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>
